<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<div th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">학사관리 프로그램 v1.0</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="main">홈으로</a>
          <a class="nav-link" href="studentList">학생목록</a>
          <a class="nav-link" href="insertScore">성적입력</a>
          <a class="nav-link" href="studentScore">학생성적</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
  </nav>
</div>